<?xml version='1.0' encoding='utf-8'?>
<widget id="com.xuaps.colors" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Colours!</name>
    <description>
        An interactive book for kids.
    </description>
    <author email="dvilchez@xuaps.com" href="http://xuaps.com">
        Xuaps Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="landscape" />
</widget>
